.card-landing img {
  width: 150px;
}

.card-landing p {
  opacity: .5;
}

.card-landing {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  background-color: transparent;
  margin-top: 50px;
}

.card-landing h4 {
  color:white;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.card-landing p {
  color: #f0ad4e;
  font-size: 10px;
}

.card {
  background-size: cover;
  background-position: center;
  /* height: 150px; */
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 8px;
  flex-grow: 1;
}
.main-container {
  display: flex;
  margin: 50px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}
